#eq2{
	position: relative;
	width: 15%;
	height: width;
	-ms-transform: translate(0,40%); /* IE 9 */
   	-webkit-transform: translate(0,40%); /* Safari */
    transform: translate(0,40%);
}

#eq3{
	position: relative;
	width: 5%;
	height: width;
	-ms-transform: translate(0,45%); /* IE 9 */
   	-webkit-transform: translate(0,45%); /* Safari */
    transform: translate(0,45%);
}

#ir{
	line-height: 2;
}


#ir10{
	position: relative;
	-ms-transform: translate(0,-30%); /* IE 9 */
   	-webkit-transform: translate(0,-30%); /* Safari */
    transform: translate(0,-30%);
}
#ir13{
	position: relative;
	-ms-transform: translate(0,45%); /* IE 9 */
   	-webkit-transform: translate(0,45%); /* Safari */
    transform: translate(0,45%);
}